
.top-section {
    width: auto;
    min-width: 100vw;
    position: relative;
    background-color: #131921;
    color: #fff;
    padding: 8px 0;
    margin: -8px;
    height: 45px;
    display: inline-flex ;
}

.bottom-section {
    position: relative;
    background-color: #232f3e;
    width: auto;
    min-width: 100vw;
    color: #fff;
    margin-left: -8px;
    margin-top: 8px;
    height: 38px;
    display: inline-flex;
    font-size: 16px;
}

.logo-div {
    position: relative;
    height: 29px;
    width: 113px;
    text-align: center; 
    padding: 10px 6px;
    margin: 0;
    top:50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.logo {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    top: 3px;
    position: relative;
}

.location-div {
    position: relative;
    width: 90px;
    min-width: 90px;
    height: 29px;
    padding: 10px 0;
    top: -3px;
}

.location-txt {
    display: inline-block;
    vertical-align: middle;
    left: 5px;
    height: 18px;
    position: relative;
    top: -3px;
}

.location-txt:hover {
    cursor: pointer;
}

.location-icon {
    left: 0.3vw;
    height: 16px;
    position: relative;
    top: 11px;
}

.search-div {
    display: inline-flex ;
    border: 2.5px solid transparent;
    margin-left: 5px;
    max-width: 60vw;
}

p {
    line-height: 2px;
    margin: 0px 0;
}

label {
    font-family: Amazon Ember;
    font-size: 13px;
    line-height: 14px;
    font-weight: 400;
    margin-top: 4px;
}

.bold-txt {
    font-family: Amazon Ember Bold;
    font-size: 14px;
}

.hover:hover {
    cursor:pointer;
    border: solid 0.5px rgba(167, 167, 167, 0.738);
    border-radius: 2px;
}

.grey-txt {
    color:#bcbcbc;
}

select {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-family: Amazon Ember;
    height: 40px;
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 4px 0 0 4px;
    min-width: 57px;
    font-size: 12px;
    background-color: #e6e6e6;
    color:#525252;
    padding: 0 8px;
    outline:none;
    border: 2.5px solid transparent;
    appearance: none;
    -webkit-appearance: none;
    background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%);
    background-position:
      calc(100% - 11px) calc(1em + 5px),
      calc(100% - 7px) calc(1em + 5px);
    background-size:
      4px 4px,
      4px 4px;
    background-repeat: no-repeat;
}

option {
    margin: 4px 0px;
    background-color: white;
    color: #6a6a6a;
    font-size: 14px;
}

select:hover {
    cursor: pointer;
    color:#373737;
    background-color: #c8c8c8;
}

select:focus {
    border: solid 2.5px #ff9900;
    box-shadow: 0 0 5px #ff9900;
}

select::after{
    padding: 0 7px;

}

input {
    font-family: Amazon Ember;
    position: relative;
    background-color: #ffffff;
    color: #373737;
    width: 55vw;
    min-width: 15vw;
    border-radius: 0;
    margin: 0;
    top:50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border: 2.5px solid transparent;
    outline: none;
    height: 35px;
    padding: 0 8px;
}

input::placeholder {
    font-family: Amazon Ember;
    line-height: 1.4;
    text-rendering: optimizeSpeed;
    font-weight: 500;
    font-size: 12.75px;
    font-size: 15px;
}

.search-div:has(input:focus) {
    border: solid 2.5px #ff9900;
    box-shadow: 0 0 5px #ff9900;
    border-radius: 7px;
}

button {
    right:0;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-family: Amazon Ember;
    height: 40px;
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 0 4px 4px 0;
    width: 45px;
    background-color: #febd69;
    padding: 0 11px;
    outline:none;
    border: 2.5px solid transparent;
    text-align: center;
}

button:hover {
    cursor: pointer;
    border: 2.5px solid transparent;
    background-color: #fbab43;
}

button:active {
    background-color: #fbab43;
}

button:focus{
    border: solid 2.5px #ff9900;
    box-shadow: 0 0 5px #ff9900;
}

.search-icon {
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.language-div {
    position: relative;
    height: 29px;
    width: 55px;
    min-width: 55px;
    text-align: left; 
    padding: 10px 6px;
    margin-left: 5px;
    top:50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: inline-flex ;
    background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%);
    background-position:
      calc(100% - 11px) calc(1em + 11px),
      calc(100% - 7px) calc(1em + 11px);
    background-size:
      4px 4px,
      4px 4px;
    background-repeat: no-repeat;
}

.language-icon {
    position: relative;
    height: 14px;
    width: 20px;
    top: 58%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.language-code {
    margin-left: 3px;
    font-size: 14px;
    top:66%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
}

.account-div {
    position: relative;
    width: 126px;
    min-width: 126px;
    height: 29px;
    padding: 10px 0;
    top: -3px;
    margin-left: 5px;
    background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%);
    background-position:
      calc(100% - 11px) calc(1em + 12px),
      calc(100% - 7px) calc(1em + 12px);
    background-size:
      4px 4px,
      4px 4px;
    background-repeat: no-repeat;
}

.account-txt {
    display: inline-block;
    vertical-align: middle;
    left: 5px;
    height: 18px;
    position: relative;
    top: -3px;
}

.account-txt:hover {
    cursor: pointer;
}

.returns-div {
    position: relative;
    width: 72px;
    min-width: 72px;
    height: 29px;
    padding: 10px 0;
    top: -3px;
    margin-left: 5px;
}

.returns-txt {
    display: inline-block;
    vertical-align: middle;
    left: 5px;
    height: 18px;
    position: relative;
    top: -3px;
}

.returns-txt:hover {
    cursor: pointer;
}

.cart-div {
    position: relative;
    width: 90px;
    min-width: 90px;
    height: 29px;
    padding: 10px 0;
    top: -3px;
    margin-left: 5px;
    display: inline-flex ;
}

.cart-icon {
    height:33px;
    top: 58%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.product-txt {
    color: #ff9900;
    left: 30%;
    top: -3px;
    font-size: 16px;
    position: relative;
}

.cart-txt:hover {
    cursor: pointer;
}

.cart-label {
    position: relative;
    left: -5px;
    top: -72%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.menu-div {
    width: 65px;
    min-width: 65px;
    height: 33px;
    position: relative;
    display: inline-block;
    text-align: center;
    top:50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.menu-icon {
    position: relative;
    height: 18px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.menu-txt {
    position: relative;
    display: inline-block;
    top:33%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 4px;
}

.bottom-header-div {
    padding: 0 9px;
    height: 33px;
    position: relative;
    display: inline-block;
    text-align: center;
    top:50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.bottom-header-txt {
    position: relative;
    display: inline-block;
    top:33%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 14px;
}

.bottom-header-txt:hover {
    cursor: pointer;
}

.menu-txt:hover {
    cursor: pointer;
}
