.temp-header {
    max-width: 100vw;
    width: 100%;
    position: relative;
    background-color: #d8f7eb;
    color: #0f1111;
    display: inline-flex ;
    z-index: -1;
    animation-duration: 2s;
    top:9px;
}

.temp-header-txt {
    font-family: Amazon Ember Bold;
    font-size: 14px;
    padding: 7px 18px;
}

.page-container {
    position: relative;
    min-height: 80vh;
    max-width: 100vw;
    text-align: center;
    z-index: -3;
}
  
.content-wrap {
    /*padding-bottom: var( --top-footer-height);    Footer height */
    background-color: #e3e6e6;
    z-index: 2;
    position: relative;
}

.carousel {
    width: 99%;
    height: 80vmin;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top:9px;
  }
  
  .carousel_track-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  
  .carousel_track {
    position: relative;
    width: inherit;
    height: inherit;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .carousel_slide,
  .carousel_image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
  }

  .carousel_slide {
    padding: 5% 12% 8%;
    text-align: center;
    transform: translateX(-100%);
    transition: transform .3s ease-out;
  }
  
  .carousel_slide.is-selected {
    transform: translateX(0);
  }
  
  .carousel_slide.is-selected ~ .carousel_slide {
    transform: translateX(100%);
  }
  
  .carousel_image {
    z-index: -1;
    cursor: pointer;
  }
  
  .carousel_image > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border: none;
    /* background-image: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 45%, rgba(227,230,230,1) 100%); */
    -webkit-mask-image: -webkit-gradient(linear, left middle, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  }
  
  .carousel_title {
    font-size: 40px;
    color: #fff;
  }
  
  .carousel_btn,
  .carousel_dot {
    z-index: 1;
    padding: 0;
    cursor: pointer;
    border: none;
  }
  
  .carousel_btn {
    position: absolute;
    top: 21.6%;
    background-color: transparent;
    transform: translateY(-50%);
    width: 80px;
    height: 250px;
    text-align: center;
  }

  .carousel_btn:active {
    border: solid 3px #fff;
    background: linear-gradient(to top, #008296 2px, transparent 1px), 
    linear-gradient(to bottom, #008296 2px, transparent 1px),  
    linear-gradient(to left, #008296 2px, transparent 1px),  
    linear-gradient(to right, #008296 2px, transparent 1px);  
    border-radius: 6px;
  }

  .carousel_btn:focus {
    border: solid 3px #fff;
    background: linear-gradient(to top, #008296 2px, transparent 1px), 
    linear-gradient(to bottom, #008296 2px, transparent 1px),  
    linear-gradient(to left, #008296 2px, transparent 1px),  
    linear-gradient(to right, #008296 2px, transparent 1px);  
    border-radius: 6px;
  }
  
  .carousel_btn:focus,
  .carousel_dot:focus,
  .carousel_btn:active,
  .carousel_dot:active {
    outline: none;
  }
  
  .carousel_btn > * {
    pointer-events: none;
  }
  
  .jsPrev {
    left: 2px;
  }

  .jsPrev .arrow-top {
    transform: rotate(-45deg);
    transform-origin: bottom left;
  }

  .jsPrev .arrow-bottom {
    transform: rotate(45deg);
    transform-origin: top left;
  }
  
  .jsNext {
    right: 2px;
  }

  .jsNext .arrow-top {
    transform: rotate(45deg);
    transform-origin: bottom right;
  }

  .jsNext .arrow-bottom {
    transform: rotate(-45deg);
    transform-origin: top right;
  }

  .arrow {
    cursor: pointer;
    height: 25px;
    position: relative;
    transition: transform 0.1s;
    width: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }
  .arrow-top, .arrow-bottom {
    background-color: #292929;
    height: 1.5px;
    left: -5px;
    position: absolute;
    top: 50%;
    width: 100%;
  }

  .arrow-top{
    border-bottom: solid 1px #fff ;
    z-index: 5;
  }

  .arrow-bottom{
    border-top: solid 1px #fff ;
    z-index: 4;
  }

.product-deals-section {
    height: 500px;
    width: 95vw;
    position: relative; 
    top: -371px;
    text-align: center;
    overflow: hidden;
    display: flex;
    margin:auto;
    align-items: center;
    justify-content: center;
}

.product-deals-div {
    max-width: 400px;
    width: 350px;
    display: inline-block;  
    position: relative;
    height:420px;
    margin: 0 10px;
    background: #fff;
    text-align: left;
    padding: 0px 10px;
    box-sizing: border-box;
}

.product-deals-div td {
    position: relative;
    padding: 5px 5px;
    cursor: pointer;
}

.product-deals-div label {
    font-family: Amazon Ember;
    font-size: 12px;
    padding: 3px 0;
    cursor: pointer;
}

.product-deals-div h2 {
    font-family: Amazon Ember Bold;
    font-size: 21px;
    padding: 0px 5px;
}

.product-img {
    height: 110px;
    width: 96%;
    min-width: 120px;
}

.single-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 88%;
    min-width: 210px;    
    height: 230px;
    padding: 5px 5px;
    cursor: pointer;
}

.product-deals-div .link {
    position: relative;
    font-size: 13px;
    top:30px;
    color:#007185;
    margin: 0 6px;
}

.product-deals-div .link:hover {
    text-decoration: underline;
    color:#C7511F;
    cursor: pointer;
}

.deal-of-the-day {
    background-color: #CC0C39;
    color: #ffffff;
    border-radius: 2px;
    display: inline-block;
    font-weight: 400;
    line-height: 12px;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    padding: 4px 6px;
    font-size: 12px!important;
    line-height: 16px!important;
}

.red {
    font-family: Amazon Ember Bold !important;
    color:#CC0C39;
    margin: 0 5px;
}

#single_img_link{
    top: 57px;
    right: 75px;
}


.recommended-products {
    margin-top: 115px;
}

.product-section {
    width: 94.6%;
    min-height: 280px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: white;
    text-align: left;
    padding-top: 20px;
    margin-bottom: 25px;
}

.product-section:hover .carousel-control{  
  opacity: 1;
}

.hidden-controls {
  opacity: 0;
}

.product-rec-title {
    font-family: Amazon Ember Bold !important;
    font-size: 21px;
    color: #0F1111!important;
    padding: 0 17px;
}

.product-section .link {
    position: relative;
    font-size: 14px;
    color:#007185;
}

.product-section .link:hover {
    text-decoration: underline;
    color:#C7511F;
    cursor: pointer;
}

.product-section .red {
  font-size: 12px;
}

.product-details {
  padding: 10px 2px;
}

.product-carousel {
    max-width: 90%;
    width: 90%;
    overflow-x: scroll;
    display: inline-flex;
    padding: 40px 25px;
    margin: auto;
    display: block;
    position: relative;
    height: 168px;
}

.product-pic {
    height: 200px;
    margin: 5px 5px;
    display: inline-block;
}

.scroll-images {
    width: 100%;
    min-height: 180px;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
  }
  
  .scroll-images::-webkit-scrollbar {
    width: 5px;
    height: 6px;
    z-index: 0;
  }
  
  .scroll-images::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 6px;
    cursor: pointer;
  }

  .scroll-images::-webkit-scrollbar-thumb:hover {
    background-color: #6c6c6c;
    border-radius: 6px;
    cursor: pointer;
  }

  .scroll-images::-webkit-scrollbar,
  .scroll-images::-webkit-scrollbar-thumb {
    overflow:visible;
  }

  .scroll-bar {
    position: absolute;
    background: #fff;;
    width: 100%;  
    bottom: 18px;
    left: 0;
    height: 6px;
    -webkit-transition: all 1s;
    opacity: 1;
    z-index: 1;
  }

  .cover:hover .scroll-bar {
    opacity: 0;
    z-index: -1;
   -webkit-transition: all 1s;
 }
  
  .child {
    padding: 15px 5px;
    width: fit-content;
    float:left;
  }

  .align-vertically {
    display: flex;
    align-items: center;
  }

  .child-img {
    max-width: 270px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0 14px;
    cursor: pointer;
  }

  .history-child-img {
    max-width: 270px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0 6px;
    cursor: pointer;
  }

  .product-img-bg {
    background-color: #f7f8f8;
    min-width: 215px;
    height: 200px;
  }

  .cover {
    padding: 18px 20px;
    position: relative;
  }

  .price-txt {
    font-size: 17px;
    color:#0F1111;
    cursor: pointer;
  }

  .list-price-txt {
    font-family: Amazon Ember;
    padding: 0 5px;
    font-size: 12px;
    color: #565959 !important;
    cursor: pointer;
  }

  .line-through {
    text-decoration-line: line-through;
  }

  .price-currency-sign {
    top: -3px;
    position: relative;
    font-size: 11px;
    color: #0F1111;
    cursor: pointer;
  }

  .product-description {
    white-space: nowrap;
    font-size: 13px!important;
    max-width: 225px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
  }

  .left {
    left: 20px;
    border-radius: 0 3px 3px 0;
    clip: rect(-10px,55px,110px,0);
    padding-right: 5px 
  }

  .left-arrow-icon {
    background: url('../../../../assets/images/icons/left-arrow.png');
    margin: auto;
    height: 22px;
    width: 13px;
  }

  .left:hover .left-arrow-icon {
    background: url('../../../../assets/images/icons/left-arrow-hover.png');
  }

  .right {
    right: 20px;
    border-radius: 3px 0 0 3px;
    clip: rect(-10px,45px,110px,-10px);
    padding-left: 5px;
  }

  .carousel-control {
    position: absolute;
    top: 55px;
    background-color: #fff;
    height: 100px;
    line-height: 100px;
    width: 45px;
    text-align: center;
    box-shadow: 0 1px 3px #888;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    border: none;
    cursor: pointer;
    transition:all 0.7s;
    -webkit-transition:all 0.7s;
    -moz-transition: all 0.7s;
  }

  .carousel-control:focus {
    border: solid 3px #008296;
    border-radius: 4px;
  }

  .right-arrow-icon {
    background: url('../../../../assets/images/icons/right-arrow.png');
    margin: auto;
    height: 22px;
    width: 13px;
  }

  .right:hover .right-arrow-icon {
    background: url('../../../../assets/images/icons/right-arrow-hover.png');
  }

  .browser-history-recommendations {
    width: 100%;
    background-color: white;
  }

  .recommendations {
    padding-top: 5vh;
  }

  hr {
    border: none;
    height: 0.5px;
    color: #4f4f4f; 
    background-color: #d3d3d3;
  }

  .history-products {
    padding: 0px 73px;
    position: relative;
  }

  .history-carousel-control {
    position: absolute;
    top: 190px;
    background-color: #fff;
    height: 40px;
    line-height: 100px;
    width: 40px;
    text-align: center;
    box-shadow: 1px 1px 3px #888;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    border: solid 0.3px #e0e0e0;
    cursor: pointer;
    border-radius: 7px;
  }

  .history-carousel-control:hover {
    background-color: #efefefaf;
  }

  .history-left {
    left: 20px;
    padding-right: 5px 
  }

  .pages {
    right: 50px;
    position: absolute;
    font-size: 14px;
  }

  .pages a {
    position: relative;
    font-size: 14px;
    color: #007185;
    cursor: pointer;
    margin: 0 10px;
  }

  .pages label {
    font-size: 14px;
    margin: 0 10px;
  }

  .text-seperator {
    display: inline-block;
    margin: -2px 0.67375em 0;
    width: 1px;
    background-color: #ddd;
    line-height: 0;
    height: 14px;
    vertical-align: middle;
    border: none;
    color: white;
  }

  .pages a:hover {
    color: #C7511F;
  }

  .scroll-history-recs {
    width: 100%;
    min-height: 250px;
    height: auto;
    display: flex;                                                                   
    flex-wrap: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

  .history-right-arrow {
    background: url('../../../../assets/images/icons/history-right-arrow.png');
    margin: auto;
    height: 20px;
    width: 19px;
  }

  .history-left-arrow {
    background: url('../../../../assets/images/icons/history-left-arrow.png');
    margin: auto;
    height: 20px;
    width: 19px;
  }

  .history-rec-description {
    color: #007185;
    font-size: 14px;
    font-family: Amazon Ember;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    max-width: 155px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    margin: 8px 0;
  }

  .history-rec-description:hover {
    color: #C7511F;
    cursor: pointer;
  }

  .rating-img {
    height: 15px;
  }

  .rating {
    display: inline-flex;
  }

  .rating-txt {
    margin: 0 10px;
    font-size: 12px;
  }

  .amazons-choice-stamp {
    color: #0F1111;
    font-size: 12px;
  }

  .amazons-choice-stamp img {
    height: 22px;
  }

  .small-font {
    max-width: 150px;
    font-size: 12px !important;
    margin: 3px 0;
    font-family: Amazon Ember;
  }


.sign-in-div {
  display: grid;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 15px;
}

.sign-in-div a {
  color:#007185;
}

.sign-in-div a:hover {
  color:#C7511F;
  cursor: pointer;
}

.sign-in-div label {
  position: relative;
  min-width: fit-content;
  font-size: 13px;
  margin: auto;
}

.sign-in-div button {
  cursor: pointer;
    background-position: right -170px;
    display: block;
    height: 28px;
    width: 250px;
    position: relative;
    color: #000;
    font-size: 12px;
    line-height: 26px;
    text-align: center;
    text-shadow: 0 1px 0 #ffe093;
    margin: 8px 0;
    border-radius: 4px;
    border: solid 1px #f59320;
    letter-spacing: 0.2px;
    font-weight: bold;
    /* background-color: #ffc531; */
    background: linear-gradient(0deg, #ffc531, #ffd774 80%) no-repeat;
}

@media screen and (max-width: 1230px) {
    .product-deals-div {
        max-width: 30vw;
    }
    #last_card {
        display: none;
    }
}