<app-mobile-header></app-mobile-header>

<div class="carousel">
    <button type="button" class="carousel_btn jsPrev" aria-label="Previous slide"></button>

    <div class="carousel_track-container">
        <ul class="carousel_track">
            <li class="carousel_slide is-selected">
                <div class="carousel_image">
                <img src="https://m.media-amazon.com/images/I/51nVYKEaNTL._SR1236,1080_.jpg" alt="" role="presentation">
                </div>
            </li>
            <li class="carousel_slide">
                <div class="carousel_image">
                <img src="https://m.media-amazon.com/images/I/813ZDwq9-IL._SR1236,1080_.jpg" alt="" role="presentation">
                </div>
            </li>
            <li class="carousel_slide">
                <div class="carousel_image">
                    <img src="https://m.media-amazon.com/images/I/71PirqOSGOL._SR1236,1080_.jpg" alt="" role="presentation">
                </div>
            </li>
            <li class="carousel_slide">
                <div class="carousel_image">
                <img src="https://m.media-amazon.com/images/I/61LEsyQWAAL._SR1236,1080_.jpg" alt="" role="presentation">
                </div>
            </li>
        </ul>
    </div>

    <button type="button" class="carousel_btn jsNext" aria-label="Next slide"></button>
</div>

<app-mobile-footer></app-mobile-footer>
