<app-mobile-header></app-mobile-header>

<div class="content-wrap">
    <div class="carousel">
        <button type="button" class="carousel_btn jsPrev" aria-label="Previous slide"></button>
    
        <div class="carousel_track-container">
            <ul class="carousel_track">
                <li class="carousel_slide is-selected">
                    <div class="carousel_image">
                    <img src="https://m.media-amazon.com/images/I/51nVYKEaNTL._SR1236,1080_.jpg" alt="" role="presentation">
                    </div>
                </li>
                <li class="carousel_slide">
                    <div class="carousel_image">
                    <img src="https://m.media-amazon.com/images/I/813ZDwq9-IL._SR1236,1080_.jpg" alt="" role="presentation">
                    </div>
                </li>
                <li class="carousel_slide">
                    <div class="carousel_image">
                        <img src="https://m.media-amazon.com/images/I/71PirqOSGOL._SR1236,1080_.jpg" alt="" role="presentation">
                    </div>
                </li>
                <li class="carousel_slide">
                    <div class="carousel_image">
                    <img src="https://m.media-amazon.com/images/I/61LEsyQWAAL._SR1236,1080_.jpg" alt="" role="presentation">
                    </div>
                </li>
            </ul>
        </div>
    
        <button type="button" class="carousel_btn jsNext" aria-label="Next slide"></button>
    
        <div class="recommended-categories">
            <div class="recommended-category">
                <label class="product-txt">Keep Shopping For</label>
                <img class="product-img" src="https://m.media-amazon.com/images/I/611CARzGsXL._AC_SS250_.jpg">
            </div>
            <div class="recommended-category">
                <label class="product-txt">Deal for you in Beauty & Perso…</label>
                <img class="product-img" src="https://m.media-amazon.com/images/I/71+i++WaYJL._AC_SS250_.jpg">
            </div>
            <div class="recommended-category">
                <label class="product-txt">Recommended deal for you</label>
                <img class="product-img" src="https://m.media-amazon.com/images/I/71xVx-vXWZL._AC_SS250_.jpg">
            </div>
            <div class="recommended-category">
                <label class="product-txt">4+ star deal for you</label>
                <img class="product-img" src="https://m.media-amazon.com/images/I/81Tez0TQuPL._AC_SS250_.jpg">
            </div>
            <div class="recommended-category whole-img">
                <img class="whole-product-img" src="https://m.media-amazon.com/images/I/41sxkAKd+6L._SR270,360_.jpg">
            </div>
            <div class="recommended-category whole-img">
                <img class="whole-product-img" src="https://m.media-amazon.com/images/I/51CVhfEyQqL._SR270,360_.png">
            </div>
        </div>
    </div>
    <div class="sign-in-div">
        <label class="sign-in-txt">Sign in for the best experience</label>
        <button class="sign-in-button">Sign in securely</button>
        <label class="create-acc-txt">Create an account</label>
    </div>

    <app-product-deals-table [deal]="under25Deal"></app-product-deals-table>
    <app-category-deals-table [categories]="beauty" [productsNum]="4"></app-category-deals-table>
    <app-product-deals-table [deal]="booksDeal"></app-product-deals-table>
    <app-category-deals-table [categories]="techAccessories" [productsNum]="4"></app-category-deals-table>
    <app-product-deals-list [deal]="kitchenTopSellersDeal"></app-product-deals-list>
    <app-category-deals-table [categories]="shoes" [productsNum]="4"></app-category-deals-table>
    <app-product-deals-table [deal]="mostLovedDeal"></app-product-deals-table>
    <app-single-suggestion [category]="homeAndKitchenUnder30"></app-single-suggestion>
    <app-category-deals-table [categories]="favoriteToys" [productsNum]="4"></app-category-deals-table>
    <app-product-deals-table [deal]="recommendedDeal"></app-product-deals-table>
    <app-category-deals-table [categories]="home" [productsNum]="4"></app-category-deals-table>
    <app-product-deals-list [deal]="homeTopSellersDeal"></app-product-deals-list>
    <app-single-suggestion [category]="toysUnder30"></app-single-suggestion>
    <app-category-deals-table [categories]="healthAndBeauty" [productsNum]="9"></app-category-deals-table>
    <app-product-deals-list [deal]="babyTopSellers"></app-product-deals-list>
    <app-category-deals-table [categories]="girlsEssentials" [productsNum]="4"></app-category-deals-table>
    <app-product-deals-list [deal]="pcProducts"></app-product-deals-list>
    <app-single-suggestion [category]="mustHaveDeals"></app-single-suggestion>

    <div class="end-page">
        <hr class="left-hr">
        <label class="end-txt">You've reached the end. Keep exploring!</label>
        <hr class="right-hr">
    </div>

    <div class="explore-div">
        <label class="explore-txt">Explore Departments</label>
        <div class="depts">
            <div class="department" *ngFor="let department of exploreDepartments">
                <div class="product-img-bg">
                    <img class="dept-img" [src]="department.picture" alt="image" />
                </div>
                <label class="dept-name-txt">{{ department.name }}</label>
            </div>
        </div>
        <a>All Departments</a>
    </div>

</div>

<app-mobile-footer></app-mobile-footer>
