/* You can add global styles to this file, and also import other style files */
:root {
    --top-footer-height: 450px;
}

@font-face {
    font-family: 'Amazon Ember';
    src: url('assets/fonts/amazon-ember/AmazonEmber_Rg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Amazon Ember Bold';
    src: url('assets/fonts/amazon-ember/AmazonEmber_Bd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Amazon Ember Light';
    src: url('assets/fonts/amazon-ember/AmazonEmber_Lt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    max-width:100%;
    font-family: Amazon Ember;
}

@media screen and (max-width: 650px) {
    body {
        overflow-x: scroll;
    }
}
